body {
        background: #A18E8A url('../img/page/triangles.png');
        margin: 0;
        padding: 15px;
        overflow: hidden;
}

#background {
        width: 540px;
        height: 540px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

#morph {
        position: absolute;
        background: url('../img/page/light.png') no-repeat;
        background-position: center; 
}

.hud {
        position: absolute;
        width: 100px;
        height: 537px;
        margin-left: 440px;
}

#hud-bg {
        background-color: white;
        opacity: 0.1;
}

#hud-content h2 {
        color: #CAE9AC;
        text-transform: lowercase;
        font-family: Arial, FreeSans, sans-serif;
        font-size: 1em;
        margin-bottom: 0;
        text-align: center;
}

.comment {
        color: white;
}

.number {
        font-size: 3em;
        color: white;
        font-family: "Times New Roman", FreeSerif, serif;
        margin-top: -7px;
        text-align: center;
}

#morph-goal {
        position: absolute;
        margin-left: 10px;
        margin-top: 170px;
}

#popup-bg {
        background-color: white;
        opacity: 0.0;
}

.popup {
        position: absolute;
        width: 360px;
        height: 100px;
        margin-left: 40px;
        margin-top: 140px;
        font-family: Legion, Arial, FreeSans, sans-serif;
        padding: 3px;
}

.popup img {
        margin-left: auto;
        margin-right: auto;
        display: block;
}

.message {
        margin-top: 15px;
        font-family: Arial, FreeSans, sans-serif;
        font-weight: bold;
        text-align: center;
        color: white;
        text-transform: lowercase;
        text-shadow: 1px 1px 1px #000000;
}

.invitation {
        display: block;
        margin-top: -15px;
}

.reason {
        font-family: courier, monospace;
        font-weight: bold;
        font-size: 1.3em;
        text-shadow: 1px 1px 1px #000000;
        color: #FF6080;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
}

#you-win, #game-over {
        display: none;
}

#info {
        width: 340px;
        height: 524px;
        padding: 8px;
        display: inline-block;
        display: none;
        background-color: #EFEFEF;
        margin-left: 15px;
        vertical-align: top;
        color: #313131;
        font-family: Arial, FreeSans, sans-serif;
        overflow-y: auto;
}

#info p {
        font-size: .95em;
        line-height: 1.6em;
}

#info h2 {
        text-transform: lowercase;
        font-size: 2em;
        margin-bottom: 0;
        margin-top: 10px;
}

#info ul {
        list-style: none;
        padding: 0;
}

#info li {
        padding: 5px;
        background-color: #313131;
        color: #EFEFEF;
        margin-bottom: 2px;
}

#info li:nth-child(odd) {
        background-color: #1B1B1B;
}

#info ul img {
        display: inline-block;
        vertical-align: top;
}

#info ul p {
        display: inline-block;
        width: 250px;
        margin-left: 5px;
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
}

.three-balls {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
